{% extends "base.html" %}
{% block title %}Cadastrar Show{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/concert_register.css">
{% endblock %}
{% block content %}
<div class="form">
  <form action="/update_concert" method="post">
      {% for c in concert %}
        <label for="band_name">Banda</label>
        <input type="text" class="form-control" id="band_name" name="band_name" value="{{ c[4] }}" disabled="disabled">

        <input type="hidden" name="id" value="{{ c[0] }}">
        <label for="local">Local</label>
        <input type="text" class="form-control" id="local" name="local" value="{{ c[1] }}">

        <label for="tickets_amount">Quantidade Ingressos</label>
        <input type="number" class="form-control" id="tickets_amount" name="tickets_amount" value="{{ c[2] }}">

        <label for="date">Data</label>
        <input type="date" class="form-control" id="date" name="date" value="{{ c[3] }}">

        <input type="submit" class="btn btn-default" value="Submit Form">Submit</button>
      {% endfor %}
  </form>
</div>

{% endblock %}
