.bg-light {
    background-color: #250542 !important;
}

.navbar-light .navbar-brand {
    color: #ff3d55;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(234, 234, 234, 0.9);
    font-weight: 500;
}

.btn-outline-success {
  color: #fff;
  background-color: #ff3d55;
  border-color: #ff3d55;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #ff3d55;
    border-color: #ff3d55;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
